name: UpdatePosts

on:
  repository_dispatch:
    types: [update_posts]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          persist-credentials: true
          submodules: true
          fetch-depth: 0 
          ref: 'main'

      - name: preparation
        run: |
          if ! [[ -d content/posts ]]; then
            mkdir -v -p content/posts
          fi
          
      - name: sync posts source
        run: |
          git submodule update --remote --rebase source
          
          # sync diffs
          cd content/posts
          diffs=$(comm -3 <(ls ../../source) <(ls .))
          for post in $diffs; do
            printf "%s\n%s\n%s\n%s\n\n" "+++" \
              "titile = '${post%.md}'" \
              "date = $(date +'%Y-%m-%dT%H:%M:%S+08:00')" \
              "+++" > "$post"
            cat "../../source/$post" >> "$post"
          done

      - name: commit changes
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          if $(git diff | grep -q ""); then

            git add .
            git commit -m "update posts source"
          fi
          
      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          force: true
          ssh: true
          branch: main
      
