name: UpdatePosts

on:
  repository_dispatch:
    types: [update_posts]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0 
          ref: 'main'

      - name: preparation
        run: |
          if ! [[ -d content/posts ]]; then
            mkdir -v -p content/posts
          fi

      - name: install dependencies
        run: |
          sudo apt-get update
          
      - name: sync posts source
        run: |
          git submodule update --remote --rebase source
          cp source/* content/posts/*

      - name: commit changes
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "update posts source"
      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PAT }}
          branch: main
      
