name: UpdatePosts

on:
  repository_dispatch:
    types: [update_posts]
  push:
    branches: [main]

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.119.0

    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          persist-credentials: true
          submodules: true
          fetch-depth: 0 
          ref: 'main'

      - name: preparation
        run: |
          if ! [[ -d content/posts ]]; then
            mkdir -v -p content/posts
          fi
          
      - name: sync posts source
        run: |
          git submodule update --remote --rebase source
          
          # sync from source to content/posts
          cd content/posts
          for f in ../../source/*; do
            # directory, use dir name as tag name
            if [[ -d $f ]]; then
              dirname=$(basename $f)
              for f2 in $f/*; do
                post=$(basename $f2) 
                printf "%s\n%s\n%s\n%s\n\n" "+++" \
                  "titile = '$dirname-${post%.md}'" \
                  "tag = [\"$(basename $f)\"]" \
                  "series = [\"$(basename $f)\"]" \
                  "date = $(date +'%Y-%m-%dT%H:%M:%S+08:00')" \
                  "+++" > ./$dirname-$post
                cat $f2 >> ./$dirname-$post
              done

            else
              post=$(basename $f)
              printf "%s\n%s\n%s\n%s\n\n" "+++" \
                "titile = '${post%.md}'" \
                "date = $(date +'%Y-%m-%dT%H:%M:%S+08:00')" \
                "+++" > ./$post
              cat $f >> ./$post
            fi
          done

          
      - name: hugo build
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"

    
      - name: commit changes
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          if $(git diff | grep -q ""); then

            git add .
            git commit -m "update posts source"
          fi

      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          force: true
          ssh: true
          branch: main

      
